body{
	background-color: #777;
	width: 960px;
	font-family: arial;
	color: #777;
}


header{
	background-color: #ebebeb;
	text-align: center;
	padding: 25px;
    border: 25px #ebebeb;
    margin: 25px;
}

nav{
	background-color: #ebebeb;
	text-align: center;
	padding: 25px;
    border: 25px #ebebeb;
    margin: 25px;

}

section{
	width: 420px;
	text-align: center;
	margin: 15px;
	padding: 25px;
}

article{
	background-color: #777;
	text-align: center;
	align-content: center;
	color: #ebebeb;
	margin: -75px;
}


aside{
	width: 335px;
	height: 360px;
	background-color: #ebebeb;
	text-align: center;
	margin: 10px;
	padding: 10px;
}

h1{
	height: 65px;
	background-color: #ebebeb;
	text-align: center;
	color: #777;
}

p{
	height: 65px;
	background-color: #ebebeb;
	text-align: center;
	color: #777;
	border: 1px #777;
}

footer{
	background-color: #ebebeb;
	text-align: center;
	padding: 25px;
    border: 25px #ebebeb;
    margin: 25px;
    float: left;
    width: 860px;
}

.boxLeft{
	background-color: #ebebeb;
	margin: 20px;
	float:left;
}


.boxInner {
    background-color: #777;
    padding: 125px;
}
